
#map-nav {

}
#map-nav .map-nav__item{

}
#map-nav .map-nav__item.active{

}
#map-nav .nav-inner-wrap {
    display: none;
    padding: 20px 0 10px;/* 15px 10px */
    /*overflow-y: auto;*/
}
#map-nav .map-nav-header {
    position: relative;
    z-index: 1;
    display: block;
    padding: 12px 10px 12px 60px;
    color: #fff;
    font: 300 18px/18px robotoC, sans-serif;
    cursor: pointer;
    /*background: url(../images/nav-header-icon.png) 10px center;*/
    background-color: #078fc1;
    background-repeat: no-repeat;
}
#map-nav .map-nav-header.green{
    background-color: #6ed71a;
}
#map-nav .map-nav__item:nth-of-type(1) .map-nav-header {
     background-image: url("/wthemes/velo/theme/velo/maps/images/nav-header-icon_plus.png");
    background-position: 12px center;
}
#map-nav .map-nav__item:nth-of-type(2) .map-nav-header {
     background-image: url("/wthemes/velo/theme/velo/maps/images/nav-header-icon_info.png");
    background-position: 11px center;
}
#map-nav .map-nav__item:nth-of-type(3) .map-nav-header {
     background-image: url("/wthemes/velo/theme/velo/maps/images/nav-header-icon_flag.png");
    background-position: 11px center;/* 11px center */
}
#map-nav .map-nav__item:nth-of-type(4) .map-nav-header {
    background-image: url("/wthemes/velo/theme/velo/maps/images/nav-header-icon_compas.png");
    background-position: 11px center;
}
#map-nav .map-nav__item:nth-of-type(5) .map-nav-header {
    background-image: url("/wthemes/velo/theme/velo/maps/images/nav-header-icon_layers.png");
    background-position: 11px 4px;
}

#map-nav .map-nav__item.active .map-nav-header {
    background-color: #1ab5ef;
    /*margin-bottom: 15px;*/
}
#map-nav .map-nav__item.active .map-nav-header::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 48%;
    transform: translateX(-50%);
    width: 1px;
    height: 1px;
    border: solid transparent;
    border-width: 13px 117px 0;
    border-top-color: #1ab5ef;
}

#map-nav .nav-inner-wrap.active {
    height:350px;/* for scroll on  ul.marker-filter AND ul.regions-list*/
    box-sizing: border-box;
}

#map-nav .map-nav__item:last-of-type .nav-inner-wrap.active {/* types of maps */
    height:auto;
}
#map-nav .map-nav__item:last-of-type.active {/* types of maps */
    border-bottom: 3px solid #078fc1;
}
/* NAV MARKERS TYPES Filter */

.map-nav{
    /*overflow-y: auto;*//*ie is ie, as usually*/
}
.markInfo_EditMarkerData .markNewTitleVal{
    width: 400px;
}
.markInfo_EditMarkerData .markNewDescrVal{
    width: 398px;
}


.markInfo_EditMarkerData .markNewTitleVal, .markInfo_EditMarkerData .markNewDescrVal{
    display: block;
}


.marker-filter{
    max-height: 100%;/* calc(100% - 27px)*/ /* IE need to jolt this rule to be applyed */
    overflow-y: auto;
}
#apply-markers-filter{
    display: inline-block;
    text-align:center;
    padding: 6px 15px;
    margin-bottom: 5px;
    margin-left: 12px;
    box-sizing: border-box;
    background: #5ec60b;
    border:none;
    cursor:pointer;
}
#apply-markers-filter span {
    color:white;
    font: 400 19px robotoC,sans-serif;
}
#apply-markers-filter:hover{
    background: #ffd800;
}
#apply-markers-filter:hover span {
    color:black;
}


.marker-filter input[type="checkbox"] {
    display:none;
}
.marker-filter .has-childs__title,
.marker-filter input[type="checkbox"] + .simple-label{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 45px 10px 60px;
    cursor: pointer;
    font: 400 18px/18px robotoC, sans-serif;
    color:black;
    box-sizing: border-box;
}
.marker-filter input[type="checkbox"] + .simple-label::before,
.marker-filter input[type="checkbox"] + .simple-label::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}

/* unCHECKED */
.marker-filter input[type="checkbox"] + .simple-label::before{
    top: 7px;
    left: 10px;
    background: url("../images/nav-marker-type-1-off.png") center no-repeat;
}
.marker-filter input[type="checkbox"] + .simple-label::after, .marker-filter input[type="checkbox"] + .for-childs-label{
    top: 6px;
    right: 10px;
    background: url("../images/nav-chbx-off.png") left center no-repeat;
}
/* CHECKED */

.marker-filter .has-childs{
    font-size: 0;
}
.marker-filter .has-childs__title{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 45px);
    margin-right: 5px;
    padding: 8px 0 8px 60px;/* 10px 0 10px 60px*/
    cursor: pointer;
    font: 400 18px/24px robotoC, sans-serif;
    color:black;
    box-sizing: border-box;
}
.marker-filter .for-childs-label{
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*background: url("../images/nav-chbx-off.png") 5px center no-repeat;*/
}
.marker-filter .for-childs-label.checked{
    background-image: url("../images/nav-chbx-on.png");
}

.marker-filter .has-childs__title::before{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
}
.marker-filter .has-childs__title .has-childs__title--text{
    /*padding-bottom: 5px;*/
    border-bottom: 1px dashed;
}
.marker-filter .has-childs__title:hover .has-childs__title--text{
    border-bottom-color: transparent;
}

.marker-filter .has-childs__title::before{
    top: 7px;
    left: 10px;
    background: url("../images/nav-marker-type-1-off.png") center no-repeat;
}

.marker-filter input[type="checkbox"]:checked + .simple-label{}
.marker-filter input[type="checkbox"]:checked + .simple-label::before, .marker-filter .has-childs__title.chk_on::before {
    background-image: url("../images/nav-marker-type-1-on.png");
}
/*.marker-filter input[type="checkbox"]:checked + .for-childs-label::after{
    background-image: url("../images/nav-chbx-on.png");
}*/
.marker-filter input[type="checkbox"]:checked + .simple-label::after, .marker-filter input[type="checkbox"]:checked + .for-childs-label {
    background-image: url("../images/nav-chbx-on.png");
}


/*.marker-filter .has-childs__title.checked::before{
    background-image: url("../images/nav-marker-type-1-on.png");
}
*/






.regions-list{
    max-height: 100%;
    overflow-y: auto;
}

.regions-list > li,
.regions-list__item{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.regions-list > li > b,
.regions-list__item--label{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 60px;
    cursor: pointer;
    font: 400 18px robotoC, sans-serif;
    color: black;
    text-decoration: underline;
    box-sizing: border-box;
}
.regions-list > li > b:hover,
.regions-list__item--label:hover{
    text-decoration: none;
}
.regions-list > li > b::before,
.regions-list__item--label::before{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 30px;
    top: 7px;
    left: 5px;
    background: url("../images/nav-regions-1-off.png") center no-repeat;
}
.regions-list > li.opened > b::before,
.regions-list__item.opened .regions-list__item--label::before{
    background-image: url("../images/nav-regions-1-on.png");
}

/* BRANCHES */
.regions-list > li > ul,
.regions-sublist{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.regions-list > li > ul > li,
.regions-sublist__item{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0; /* delete the "--" from code */
}
.regions-list > li > ul > li > b,
.regions-sublist__item--label{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 60px;
    cursor: pointer;
    font: 400 18px robotoC, sans-serif;
    color: black;
    text-decoration: underline;
    box-sizing: border-box;

    padding-left: 70px;
}
.regions-list > li > ul > li > b::before,
.regions-sublist__item--label::before{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 100%;
    top: 0;
    left: 20px;
    background: url("../images/nav-regions-branch.png") left -2px no-repeat;
}
.regions-list > li > ul > li:last-of-type > b::before,
.regions-sublist__item:last-of-type .regions-sublist__item--label::before{
    background: url("../images/nav-regions-branch-last.png") left -6px no-repeat;
}





.maps-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.sidebar-search-panel{
    position: absolute;
    top: calc(15% + 80px);/* for small height screens - lock panel position under header (50% of header height)*/
    left: 0;
    width:320px;/*350*/
    max-height: 100%;
    z-index: 10;
    /*padding-bottom: 20px;*/
    background-color: rgba(255,255,255,.7);
    box-sizing: border-box;

}
@media screen and (max-width: 1370px){
    .sidebar-search-panel {
        top: calc(8% + 80px); /* for small height screens - lock panel position under header (50% of header height)*/
    }
}
.sidebar-search-panel::before {
    content:'';
    position: absolute;
    display: block;
    height: 1px;
    width: 1px;
    left: 19px;
    top: 100%;
    border: 16px solid;
    border-color: #0990c1 transparent transparent #0990c1;
}
.sidebar-panel-header{
    background-color: #0990c1;
    box-sizing: border-box;
}
.sidebar-panel-header__title{
    color:white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
}

.search-wrapper{
    padding:20px;
    box-sizing: border-box;
}
.search-input-wrapper{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.search-input-wrapper__input{
    padding:10px;
}
.search-input-wrapper__btn{
    padding:10px;
}
.search-wrapper__advanced-toggler{
    display: inline-block;
    margin-top: 10px;
    color:#00658a;
    text-decoration: underline;
    cursor:pointer;
}
.search-wrapper__advanced-toggler:hover{
    color:#00658a;
    text-decoration: none;
}


.search-result-wrapper{
    box-sizing: border-box;
}
.search-result__link + .search-result__link{
    margin-top: 15px;
}
.search-result__link{
    display:block;
    min-height: 45px;
    position: relative;
    padding-left:45px;
    box-sizing: border-box;
}
.search-result__link:hover{
    background-color: #e2e2e2;
}
.search-result__link--icon{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width:40px;
    height: 40px;
}
.search-result__link--icon.color1{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACZElEQVRYR61WS07jQBCtdthlJOAEJMsZgsgNiIVhO8wJJpwAOAFwAuAEwAmALfEomROAFDOzJJyAIMEOp6i2MQpJVX8cWsoiclX161evPgp8Tvd/DdLXn+TSyn9q4d19AIC39P8SKtUrCOtD17DKybB7vwDpyxHZtu32OAQVHMP68qHdliBbja7vmhCMumOvtbpkBgi3MFcNbWyYAZS9vIDoAEIGkNH+fO/98ml+ehA1Qok2GUCcnJHTbze+LVZKbZMmdLypwwPI1J7S643nARBJ/dlpglLzBusBsVB3B9BJdkmeWvX8QdiDjcbxp4+d/gGB2Bd9BBZ4Bjr9HgVbE4Kd02va7DdT2hCuCPTWpJ8EgGpZoBQxhI2VHgvAmDrqD9HKohuAOEGRyqhhLl1PXz6YKUiluig2l7xjPvqAlwBodS+xgQwlBX/u2lQZp6wf4l9KXcs1BWdkKPQAyuUoCGFzmYbP2LF3zRMS764jgH+k1tGFXNfvA0cFuRjTdIvKdir4J39BvKZOKKdBRib0DZ5+bSwDMOXTF4B3Ky4uiBOd51Xf+yaoZ8VX2JhrutNvUUOiXWCGU6nUIfyu08ke+0Iyy1REPKTSOzDBtwPQzeX1eWCZdtwdD7QfNmfbiIqwtunIPjH4BdGPS1vy7AyUEaQw+Tgw7gBcBYn4BHPfajbq3apgEnKc6CVkx0iraVYwju4MaGebIIWBM1sVTHqbJ568rJTuA5wjv7LJq5qBAr8UFIGy0Ys3H3E9hTeOpxwAHWF8C3boeOVbseSZr1/5UhI1araG8/UAdMSYFhdMh+KW7IDqDSM26yF/SZCfAAAAAElFTkSuQmCC') center no-repeat;
}
.search-result__link--icon.color2{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACiklEQVRYR61WUW7TQBDdsUX4akk+aCy1CekJyA1ITkA4Acbhn3IC2hM0/ONgTkB7AsIJyA0ISZGc8hGTv0ayh9kUSy7s7HrjWorysTOzb97MvhkQFt/K8zs3Nfc5oOgJwJ4QUJfuKHAGCFMAcfFgnV42kigpGxbKGK7qfn2z55wLAN9sj/LyUXM+PjPbUgomo+tDv4uu8yXP1mRfOJ/W1mnfxIYWQIXLcxxGECyALe37zvcdMr9DEqKYeIuwzzHHAli2hhEV6KUF5awpIL46WIwjlYESgOz2Tc2l7PkPhfghEGfSAgC69PeIs5avxJuPj0sDiNvBCQg41wR8SwFHxfNlOzglKO9YqhkWlAzErWBCWT1TBkPxqbkIlc9RWzYUl+Q3+DemEsCyPZRvWUmpk0H/8dWHiQqcvnSYkDY0ygKgEqu/5jzUPl0Cb+XLMcAGIXFpcOJy+3TdlQ14dQ+0hzM6eKLsWs2Tum4FPgJ8VPkh4ldvMe6VK4FWAzCBNOsf/IymxWAm1cRMvPeuwpOyAAYkQp81KrAdOE6G22akrAf0+y940Z9rXrahYk0ZeGDqE45+ac0C0NXTFoC1FOcXLFvBlHT2qe2FRXtd9loG5OGvo9e9zEHaBXb/apv0uBFHMy6CcSGpNhXxjNTvVAffCOCvuMgM2GmnfPc0LR+u026ljSgPbJqOygxRvKDhc2EqnpGBnRqSmXwqMKUBWDTkb5oXHRP1OZjSAKRDfDQcgSPeaJtKMysqMSCdTQ1pevOVAcgAOoXULSs764DKUbmyaVa1Sjqgcr4dve63wplV4xVjWjVh0fHuFmxWvHstQd6QN/vudinx5mHHJDj3DkAGpDkxcBASbksuA+oP3oUuMPfujakAAAAASUVORK5CYII=') center no-repeat;
}
.search-result__link--icon.color3{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACeklEQVRYR61WzXkTMRCdWW7hQFIBTgW4AGyvj7DmQ66AUAGhApIKYiogVGDlwxuO/uOOOwipAHMgt+wwWsf59gszktabPdgHaUZPb948DUKNLzXfWwUUbxEgBaAUEPfLcIJf/LsiJJvQ04uZ7a9j03Ku8Jea6T7BzRkgHAV3E60JcLSw2WlwL28IAkhN3iag6f1tY7JuWFkh7PVDbHgB7Hz4FmQECBXAhva/V7Vv/pAhotncDvoacSqArpmcI+K7WMZ9+wqC90ubnUt7RABO7YTFVeDwa4JS/U5Ibf57pu7nLpnb7DAaQMdMjhPEMy1hQfRxaQej6nrX5CeI8EmPkVkQGegO8xkv9KRkRPR1YQdiO/rKxmxdLMaZeZhTBNAb5s5IREpvqej/sG9mEjhv6dgfWIwHsQAYsPzNx5m3dRl8rViNATUJ0t6BZi5l6+LN7zrgNQBO3c+lRL6W6pj8KEH4ImoHYM4aSKNK4PUAriUCssVmq2qykGsSwWd+H46jAHTMpUmQxnpfbx4cQizFiFQYNq3/klfjNfGqgmIxqWVQgSkLLCiR/hK8lsxXz7oAalvx9oDecMJ1xhd1D6zu993ey4BbfGm+pU8wmTYBgJQczuwrV07xCw4kTV5FVv4pK//Ed4EggDtzcTfQXzv5hGs2rXajiWibN/Q6SucXhMOlfW1D5QsysIsgtZdPAhMNoIYg/zD1rRD1WzDRAFwADx0jHjo++Gj19XwjBlxwSJChnm8MwCXwOaRvWNnZB6RAaWTzjWqNfEAKLp9ehJ+VtVrCq+asJcJqYHUKjnG8Ry1BRZDlUMJzYitkOI8OYCPIS0Nwu9am5BhQ/wDViTEwvc8kSgAAAABJRU5ErkJggg==') center no-repeat;
}
.search-result__link--icon.color4{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAChklEQVRYR62WzXISQRDHewArm5PkoHATLlpwkTcQnkB8AvVqJSU+gckTuFYor8YnMHmCxCeQE5ReWG9ED66nbKpg2541a23B9PQMm7lOT89v/v0xrcBjjWbN1lLhU0ihrwD6oFT95niEiBNU6vROkJyF7Th2dUt+5DWa1+urJHhHli9Ea8SYQMJxZ3Ek2pKBCPDq+71edVk5L7zWxS9oRWq71wNJDSvAtpfnhC4QLEAm+9XO3Pfl6/IgwAWFY8DJxgLsz5ontPncSW/Z6OVxZ3FiMjMC6GxfAcxtfhHhh1IQaRsE7ClQdy32EQG0nQEOpo0RSa+z3rwQ3xx3L8PiJil2SK95a4EwqmBU4GDWvCBHT0zOKKafKKbGcrSGDfGMoIfrPo0A+7NGzElKAAMC0IAbyxo66g8EsOcEQArQPeZFsbSWru9ZLgQsQDVI9rjmctMxf/vAm0MwbUaU4Q8YR2xJ0et1bnxkzn0h9fpOIRCSKV7V0sGHh78mRWdS16Su+H7cvRy5AXy7P1Rp5bOlDLMPh+T7l4yIQyrbDefF81zy8p3QHgZLuRu3jPJrSxZAiKcvgF8rzr1TP5hQP3jse9uaPft6qwJ6k5JRTz7nZQCqAO2ws4g4H+JAUuZXpMQ7oq55aHuACKCbyzLZiYTfbuMO/VvWdpNeqYko9yr+joYnYiV9Nn7081QKn6jAVgnJ/HwmGA8At4Sk4eRPLbhuSdLnMM4AWVVMG6FS6rUgK1vzpRTQhx0S0lrzpQG0A1uHtA0rW/cB00HTyGYb1Ur1AdPh7OtdVb/me76JV/TplYTFg8Up2KXj3WoI/ifkVZANJePuoiU1nFsHyMqSBhdIKzE3JbtA/QUXDyEwrGrHPAAAAABJRU5ErkJggg==') center no-repeat;
}
.search-result__link--icon.color5{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACUElEQVRYR61X0U1CQRCcM8FftQKxAu1AqUCtQEzkxT+1AqUC9c+IiViBWoFYgXQgVqD+avScOx7kAbd793heQgi53b252bndxaDEsoeo4wfbMNiC5cdgOXcf8LvPzwO+8Gi6+EgNa1IMbZMH1XDOA5tRe8vDDS7MNdpRWxpEAdgWNmj3VLhtSlyQoT6+0YixoQKY+/ARxAQQIoCc9tfSN5/mx6JnOmhItMkAMnTptJfGd8TKYp8gXLyZFQTg1f6LVzWsxRv3nfqdkpxOlhT7AUW5lg4gwzGNz5WAJwx4Udy3Gc74+1T0EVgIM9BCj7faFILd8fBmaI8g5LRZ1ocOdqb9wgAyX0jClP7yad0QYGCpqWN9IICVVABWopK3159uxgogrJCvxIAYhKV2RSou/uku4r06gBbVbbAaDKQ8KRauJv1uBb9npmArNQWamJw+Ggzmms94RaumxSV93OuaWFIKnFrvlSflGw6zPRSj8eqeCT7hL4hXroRaGkRkwoZFkP4hdslHy2d5AOVK8Sg+C4vL83rZ8ybsldurDLhNe0DVLnAWqLIWsGau8p4RiBMfSKp1xTaLz5mGPw5gWFwGDKJ1u9kzXLf8xkaliaighVh3DF1yl7d/iGUvysBcghQ6XwhMOoB0QX6yX9Rj1I/AJAPwr6LF6mdwpNKq9IpKDHgAMUFG3nxlADkLcsdThhWJtVIpGAsyPLKJo1qlOhBy9q3X4KWwV0p4xZhzMeBTMTkFRyvev6ZgLMjacCjhoFGPFZx/B5CzsMM/MB/SlJwC6g/t3cwhbla+VQAAAABJRU5ErkJggg==') center no-repeat;
}
.search-result__link--title{
    display: inline-block;
    width: 100%;
    color:#000;
    font:700 18px robotoC;
}
.search-result__link--descr{
    display: inline-block;
    width: 100%;
    color:#636363;
}
.search-result__link--address{
    display: inline-block;
    width: 100%;
    color:#000;

}


.search-result__total{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    padding-left: 45px;
    font: 700 18px robotoC;
    color:#000;
    box-sizing: border-box;
}
.search-result__total--text{

}
.search-result__total--cnt{

}

.map-output-wrapper{
    z-index: 5;
    height: 100% !important;
    width: 100% !important;
}
.add-mark-to-map-wrap {
	z-index: 10;
	position: absolute;
	top: 200px;
	left: 400px;
	padding: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18b5ef+0,2989d8+50,ffde00+51,ffde00+100&amp;0.75+1,0.75+100 */
	background: -moz-linear-gradient(top,  rgba(24,181,239,0.75) 0%, rgba(24,180,239,0.75) 1%, rgba(41,137,216,0.75) 50%, rgba(255,222,0,0.75) 51%, rgba(255,222,0,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,181,239,0.75)), color-stop(1%,rgba(24,180,239,0.75)), color-stop(50%,rgba(41,137,216,0.75)), color-stop(51%,rgba(255,222,0,0.75)), color-stop(100%,rgba(255,222,0,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(24,181,239,0.75) 0%,rgba(24,180,239,0.75) 1%,rgba(41,137,216,0.75) 50%,rgba(255,222,0,0.75) 51%,rgba(255,222,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(24,181,239,0.75) 0%,rgba(24,180,239,0.75) 1%,rgba(41,137,216,0.75) 50%,rgba(255,222,0,0.75) 51%,rgba(255,222,0,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(24,181,239,0.75) 0%,rgba(24,180,239,0.75) 1%,rgba(41,137,216,0.75) 50%,rgba(255,222,0,0.75) 51%,rgba(255,222,0,0.75) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(24,181,239,0.75) 0%,rgba(24,180,239,0.75) 1%,rgba(41,137,216,0.75) 50%,rgba(255,222,0,0.75) 51%,rgba(255,222,0,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf18b5ef', endColorstr='#bfffde00',GradientType=0 ); /* IE6-9 */
}

/* TYPES OF MAPS inputs labels STYLES */
#apply-markers-filter{
    display:none !important;
}
.map-type-input{
    /*display: none;*/
    position: absolute;
    left: -10000px;
}
input[type="radio"].map-type-input + .map-type-label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 60px;
    cursor: pointer;
    font: 400 18px robotoC, sans-serif;
    color: black;
    text-decoration: underline;
    box-sizing: border-box;
}
input[type="radio"].map-type-input:checked + .map-type-label {
    text-decoration: none;
}
input[type="radio"].map-type-input + .map-type-label::before{
    background: #fff;
    width: 24px;
    height: 24px;
    border-radius: 0;
    border: 2px solid #adadad;
    box-shadow: none;
    position: absolute;
    left: 15px;
    top: auto;/* 0 */
    content: "";
}
input[type="radio"].map-type-input:checked + .map-type-label::before {
    width: 24px;
    height: 24px;
    background: #6ed718 url(/wthemes/velo/dekor/checked.png) 1px 3px no-repeat;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #6ed718;
    margin: 0;
    content: "";
}

.description-for-disabled{
    width: 100%;
    padding: 0 40px;
    text-align: center;
    box-sizing: border-box;
}
.description-for-disabled__text{
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: #6ed718;
    color: #fff;
    font: 400 18px/20px robotoC, sans-serif;
    box-sizing: border-box;
}

input[type="radio"].map-type-input:disabled + .map-type-label,
input[type="radio"].map-type-input:checked:disabled + .map-type-label{
    color:#aaa;
    text-decoration: none;
}
input[type="radio"].map-type-input:disabled + .map-type-label::before,
input[type="radio"].map-type-input:checked:disabled + .map-type-label::before {
    border: 2px solid #bbb;
    background: rgba(255,255,255,.6);
}



#map-nav .add-new-mark {
    overflow-y: auto;
    padding-bottom: 0;}
#map-nav .add-new-mark label {
    display: block;
    font: 300 18px/18px robotoC, sans-serif;
}
#map-nav .add-new-mark .coordinates {}
#map-nav .add-new-mark .coordinates div {
    overflow: hidden;
    margin-top: 4px;
}
#map-nav .add-new-mark .coordinates div:first-child {
    margin-top: 0;
}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal {
    width: 100%;
    border: 2px solid #adadad;
    padding: 9px 20px 8px 12px;
    font: 16px Arial Regular, sans-serif;
    color: #000;
    box-sizing: border-box;
}
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal {
    width: 100%;
    /*resize: none;*/
    overflow-y: auto;/* IE hiding default scrollbar*/
    height: 70px;
    border: 2px solid #adadad;
    padding: 9px 20px 8px 12px;
    font: 16px Arial Regular, sans-serif;
    color: #000;
    box-sizing: border-box;
}
#map-nav .add-new-mark .coordinates input {
    float: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
    padding: 3px 10px;
}
#map-nav .add-new-mark .coordinates span {
    float: right;
    text-align: right;
    font: 14px/26px Arial, Helvetica, sans-serif;
}
#map-nav .add-new-mark .fields > li {
    margin-top: 15px;
}
#map-nav .add-new-mark .fields > li:first-child {
    margin-top: 0;
}
.section.maps-section{
    padding-top: 0;
}
.mark-main-type{
}
.mark-main-type,
.mark-child-type{
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid #adadad;
}
.mark-child-type{
    margin-top: 15px;
}
.mark-main-type option,
.mark-child-type option{
    font-size: 16px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    box-sizing: border-box;
}


#map-nav .add-new-mark .jq-selectbox {
    vertical-align:top;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
}
#map-nav .add-new-mark  .jq-selectbox__select {
    height: 100%;
    padding: 0 30px 0 0;
    border: none;
    border-radius: 0;
    background: #0990c1;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    text-shadow: none;
    font: 400 18px/40px robotoC, sans-serif;
}
#map-nav .add-new-mark .focused .jq-selectbox__select {
    border: none;
}
#map-nav .add-new-mark  .jq-selectbox__trigger {
    border:none;
    width:30px;
}
#map-nav .add-new-mark  .jq-selectbox__trigger-arrow {
    border-top-color:white;
    opacity:1;
}

#map-nav .add-new-mark #mark-main-type-styler .jq-selectbox__trigger-arrow {
    border: none;
    position: absolute;
    top: 12px;
    right: 5px;
    width: 25px;
    height: 15px;
    overflow: hidden;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url("../images/add-new-marker-select-trigger-icon.png") center no-repeat;
}

#map-nav .add-new-mark  .jq-selectbox__select-text {
    padding: 0 0 0 50px;
    /*margin-left:2px;*/
    width: 100% !important;
    height: 100%;
    box-sizing:border-box;
    text-align:left;
    color: white;
}
#map-nav .add-new-mark  .jq-selectbox__select:hover .jq-selectbox__select-text,
#map-nav .add-new-mark .opened .jq-selectbox__select-text,
#map-nav .add-new-mark .opened.focused .jq-selectbox__select-text {
    margin-left:0;
}
#map-nav .add-new-mark  .jq-selectbox__select:hover {
    background-color: #007aa3;
    color: white;
    border: none;
}
#map-nav .add-new-mark .opened .jq-selectbox__select {
    background-color: #007aa3;
    border: none;
    border-bottom-width:0;
    padding:0;
    padding-right:30px;
    color: white;
}
#map-nav .add-new-mark  .jq-selectbox__select:active {
    background-color: #007aa3;
    box-shadow: none;
}
#map-nav .add-new-mark  .jq-selectbox__dropdown {
    top: 100%;
    width: 100%;
    max-width:100%;
    border: none;
    border-top-width:0;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
#map-nav .add-new-mark .jq-selectbox li {
    background-color: #007aa3;
    padding-left:50px;
    font: 400 17px robotoC, sans-serif;
    color: white;
}
#map-nav .add-new-mark .jq-selectbox li:hover {
    background-color: #ffde00;
    color: black;
}

#map-nav .add-new-mark #mark-main-type-styler.jq-selectbox .jq-selectbox__select-text,
#map-nav .add-new-mark .jq-selectbox li[data-jqfs-class|="ns"]{
    background-position: 5px center;
    background-repeat: no-repeat;
}
.object-wrap{
    background-position: 8px 10px;
    background-repeat: no-repeat;
}
#map-nav .add-new-mark #mark-main-type-styler.jq-selectbox.ns-918 .jq-selectbox__select-text,
#map-nav .add-new-mark .jq-selectbox li.ns-918,
.object-wrap.ns-918{/* Веломагазины*/
    background-image: url("../images/nav-marker-type-1-on.png");
}
#map-nav .add-new-mark #mark-main-type-styler.jq-selectbox.ns-921 .jq-selectbox__select-text,
#map-nav .add-new-mark .jq-selectbox li.ns-921{/* Тренировочные площадки */
    background-image: url("../images/nav-marker-type-1-off.png");
}

.add-new-mark .help {
    padding: 5px 13px 10px;
    background-color: rgba(221,221,221,.7);
}
.add-new-mark .help-arrow {
    position: relative;
    height: 25px;
    overflow: hidden;
}
.add-new-mark .help-arrow::before ,
.add-new-mark .help-arrow::after {
    content: '';
    position: absolute;
    display: block;
    height:100%;
    width: 50%;
    top:0;
    background-color: rgba(221,221,221,.7);
}
.add-new-mark .help-arrow::before{
    left:0;
    transform: skewX(81deg);
    transform-origin: right bottom;
}
.add-new-mark .help-arrow::after{
    right: 0;
    transform: skewX(-81deg);
    transform-origin: left bottom;
}
.add-new-mark .help__title {
    text-align: center;
    margin-bottom: 5px;
}
.add-new-mark .help__title--text {
    font: 700 22px/22px robotoC, sans-serif;
    padding: 5px 10px 10px;
}
.add-new-mark .help__list {
    counter-reset: description; /* задаем переменную для счетчика */
}
.add-new-mark .help__list--item {
    display:inline-block;
    vertical-align:top;
    width:100%;
    position:relative;
    padding: 0 0 18px 38px;
    font: 400 16px/19px robotoC, sans-serif;
    box-sizing: border-box;
}
.add-new-mark .help__list--item::before {
    content: counter(description); /* выводим значение переменной */
    counter-increment: description 1; /* увеличваем счетчик на 1 */

    position: absolute;
    left: 0;
    display: inline-block;
    background: #18b5ef;
    border-radius: 50%;
    /* padding-left: 1px; */
    padding-right: 0;
    top: -2px;
    width: 24px;
    height: 24px;
    color: #fff;
    font: 300 22px/24px robotoC, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
.add-new-mark .help__list--item .help--btn-tag {
    display: inline-block;
    padding: 0px 4px 2px;
    background-color: #5ec60b;
    color: #fff;
    font-weight: 300;

}
.add-new-mark .help__list--item p {
    padding-bottom: 10px;
}

.add-new-mark .help a {
    color: #078fc1;
    text-decoration: underline;
}
.add-new-mark .help a:hover {
    text-decoration: none;
}


.select-type-block {
	position: relative;
}
.select-type-block div[id^="parent"][id$="styler"]{
    display: none !important;
}

.select-type-block > ul.active {
	border-top: 1px solid #ffde00;
	border-left: 1px solid #ffde00;
	border-right: 1px solid #18b5ef;
	border-bottom: 1px solid #18b5ef;
}
.select-type-block > ul {
	position: absolute;
	background-color: rgba(255,255,255,.7);
}
.select-type-block > ul > li {
	display: none;
}
.select-type-block > ul > li:first-child {
	display: block;
}
.add-mark-to-map-wrap .fields {
    padding: 0 15px;
}
.add-mark-to-map-wrap .fields label,
.add-mark-to-map-wrap .fields select {
	display: block;
}
.add-mark-to-map-wrap .fields > li {
	margin-bottom: 15px;
}
.add-mark-to-map-wrap .fields select {
	/*width: 173px;*/
	padding: 4px 15px;
}

.add-new-mark .fields {
    padding: 0 15px;
}

.add-new-mark .buttons-wrapper{
    /*font-size: 0;*//*stupid ie don`t understand what i wont */
    text-align: justify;
    line-height: 0;
}
.add-new-mark .buttons-wrapper:after {
     content: '';
     width: 100%;
     height: 0;
     visibility: hidden;
     overflow: hidden;
     display: inline-block;
 /*font-size: 0;*/
}
.add-new-mark__save-btn{
    display: inline-block;
    text-align:center;
    padding: 9px 10px;/*9px 15px*/
    /*margin-right: 5px;*//*15px*/
    box-sizing: border-box;
    background: #5ec60b;
    border:none;
    cursor:pointer;
}
.add-new-mark__save-btn--label {
    color:white;
    font: 400 19px robotoC,sans-serif;
}
.add-new-mark__save-btn:hover{
    background: #ffd800;
}
.add-new-mark__save-btn:hover .add-new-mark__save-btn--label {
    color:black;
}
.add-new-mark__cancel-btn{
    display: inline-block;
    text-align:center;
    padding: 9px 15px;
    box-sizing: border-box;
    background: #c0c7ca;
    border:none;
    cursor:pointer;
}
.add-new-mark__cancel-btn--label {
    color:white;
    font: 400 19px robotoC,sans-serif;
}
.add-new-mark__cancel-btn:hover{
    background: #ffd800;
}
.add-new-mark__cancel-btn:hover .add-new-mark__cancel-btn--label {
    color:black;
}




footer {
	display: none;
}
/*
#velogen-map-wrap .markerLabels {
    color: #fff;
    margin-top: -22px !important;
    margin-left: -20px !important;
    width: 40px;
    text-align: center;
    font: 12px/14px Arial, Helvetica, sans-serif;
}
#velogen-map-wrap .markerLabels.black {
    color: #000;
}
#velogen-map-wrap .markerLabels.bold {
    font-weight: bold;
}
#velogen-map-wrap .markerLabels.m1 {
    margin-top: -16px !important;
    margin-left: -21px !important;
}
#velogen-map-wrap .markerLabels.m2 {
    margin-top: -22px !important;
    margin-left: -13px !important;
    font-size: 14px;
    width: 26px;
}
#velogen-map-wrap .markerLabels.m3 {
    margin-top: -24px !important;
    margin-left: -21px !important;
    color: #2a0010;
    font-size: 14px;
}
*/
#velogen-map-wrap .markerLabels {
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(50,50,50,.1);
	box-sizing:border-box;
}

#velogen-map-wrap .markLabelWrap.m00,
#velogen-map-wrap .markLabelWrap.m0{
    /* border:1px double rgba(255, 255, 255, .9); */
	border:1px solid #fff;
	border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    overflow: hidden;
    text-align: center;
    /* margin: -15px 0 0 -15px; */
}

#velogen-map-wrap .markLabelWrap.m1,
#velogen-map-wrap .markLabelWrap.m2,
#velogen-map-wrap .markLabelWrap.m3,
#velogen-map-wrap .markLabelWrap.m4,
#velogen-map-wrap .markLabelWrap.m5,
#velogen-map-wrap .markLabelWrap.m6{
    /* border:1px double rgba(255, 255, 255, .9); */
	border:3px double rgba(255, 255, 255, .7);
	border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    overflow: hidden;
    text-align: center;
    /* margin: -15px 0 0 -15px; */
}


#velogen-map-wrap .markLabelWrap.m00 {
    background: rgba(0, 85, 255, .8);
    text-indent: -9999px;
    width: 7px;
    height: 7px;    
}
#velogen-map-wrap .markerLabels.m00.transprnt3{
    margin-top: 32px !important;
    margin-left: 32px !important;
}

#velogen-map-wrap .markLabelWrap.m0{
    background: rgba(0, 85, 255, .5);
    text-indent: -9999px;
    width: 12px;
    height: 12px;
}
#velogen-map-wrap .markLabelWrap.m1{
    background: rgba(0, 85, 255, .3);

    text-shadow:
            0 0 7px #1c81dd,
            0 0 7px #1c81dd,
            0 0 5px #1c81dd,
            0 0 5px #1c81dd,
            0 0 5px #1c81dd,
            0 0 1px #1c81dd,
            0 0 1px #1c81dd,
            0 0 1px #1c81dd,
            0 0 1px #000;

    font-size: 14px;
    color: #fff;
    width: 24px;
    height: 24px;
}
#velogen-map-wrap .markLabelWrap.m1 .inner {
    line-height: 25px;
}
#velogen-map-wrap .markLabelWrap.m2 {
    /*background: #ffc000;*/
    background: rgba(255, 192, 000, .3);

    text-shadow:
            0 0 10px #f7db94,
            0 0 10px #f7db94,
            0 0 7px #f7db94,
            0 0 1px #f7db94
			;

    width: 38px;
    height: 38px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
#velogen-map-wrap .markLabelWrap.m2 .inner {
    line-height: 36px;
}

#velogen-map-wrap .markLabelWrap.m3{
    /*background: #00ff00;*/
    background: rgba(0, 255, 0, .2);

    text-shadow:
            0 0 10px #9bf698,
            0 0 10px #9bf698,
            0 0 7px #9bf698,
            0 0 1px #9bf698
			;

    width: 42px;
    height: 42px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
#velogen-map-wrap .markLabelWrap.m3 .inner{
    line-height: 42px;
}
#velogen-map-wrap .markLabelWrap.m4{
    /*background: #00ff00;*/
    background: rgba(0, 255, 0, .2);

    text-shadow:
            0 0 10px #9bf698,
            0 0 10px #9bf698,
            0 0 7px #9bf698,
            0 0 1px #9bf698
			;

    width: 48px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
#velogen-map-wrap .markLabelWrap.m4 .inner {
    line-height: 48px;
}
#velogen-map-wrap .markLabelWrap.m5 {
    /*background: #00ff00;*/
    background: rgba(0, 255, 0, .2);

    text-shadow:
            0 0 12px #9bf698,
            0 0 12px #9bf698,
            0 0 10px #9bf698,
            0 0 1px #9bf698
			;

    width: 60px;
    height: 60px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
#velogen-map-wrap .markLabelWrap.m5 .inner {
    line-height: 60px;
}

#velogen-map-wrap .markLabelWrap.m6 {
    /*background: #fc00ff;*/
    background: rgba(252, 0, 255, .2);

    text-shadow:
            0 0 12px #f59af4,
            0 0 12px #f59af4,
            0 0 10px #f59af4,
            0 0 1px #f59af4;

    width: 74px;
    height: 74px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
#velogen-map-wrap .markLabelWrap.m6 .inner {
    line-height: 74px;
}
#objects-info {
    height: 200px;
    overflow-y: auto;
}
.object-wrap {
    margin-bottom: 5px;
    padding: 5px 10px 5px 50px;
}
.object-name {
    display: block;
    color: black;
    font: 700 18px robotoC, sans-serif;
}
.object-type {
    display: block;
    color: #646464;
    font:400 16px robotoC, sans-serif;
}
.object-addr {
    display: block;
    font:400 16px robotoC, sans-serif;
}
.object-link {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    color:white;
    text-decoration: none;
    background-color: #1ab5ef;
    cursor: pointer;
}
.object-link:hover {
    color:black;
    background-color: #ffd802;
}
.object-link:before ,
.object-link:after {
    content:'';
    position:absolute;
    width:100%;
    height:50%;
    left:0;
    background:inherit;
    z-index:1;
}
.object-link:before {
    top:1px;
    -webkit-transform:skewX(45deg);
    transform:skewX(45deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.object-link:after {
    bottom:0;
    -webkit-transform:skewX(-45deg);
    transform:skewX(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;

}
.object-link--text {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 1px 5px 1px 10px;
    font: 400 14px/22px robotoC, sans-serif;
}



/*----------- EDIT MAP MARKER HERE ------------------------------------------------------ */
.markInfo_EditMarkerData .dropdown {display: inline-block; color: #FFF;}
.markInfo_EditMarkerData .dropdown:first-of-type  {  margin-right: 20px;  margin-bottom: 10px;}
.markInfo_EditMarkerData .dropdown>dd, .dropdown>dt, .dropdown>dd>ul { margin:0px; padding:0px; }
.markInfo_EditMarkerData .dropdown>dd { position:relative; }
.markInfo_EditMarkerData .dropdown label{ text-decoration:none; outline:none;}        
.markInfo_EditMarkerData .dropdown>dt label:hover, .dropdown dt label:focus { /*color:#5d4617;*/ }
.markInfo_EditMarkerData .dropdown>dt label {background:#008ec2; url(arrow.png) no-repeat scroll right center; display:inline-block; padding-right:20px;
    height: 40px;}
.markInfo_EditMarkerData .dropdown>dt label span {cursor:pointer; display:inline-block; white-space: nowrap;padding:1px 0px;}
.markInfo_EditMarkerData .dropdown>dd {    position: absolute;}
.markInfo_EditMarkerData .dropdown>dd>ul { position: relative; background:#008ec2 none repeat scroll 0 0; /*border:1px solid #d4ca9a;*/ display:none; left:0px; padding:5px 0px; position:absolute; /*top:2px;*/ width:auto; min-width:260px; list-style:none;max-height: 350px; overflow-x: hidden; overflow-y: auto;}
.markInfo_EditMarkerData .dropdown.drop_up>dd>ul {bottom: 27px;top: auto;white-space: nowrap;}                        
.markInfo_EditMarkerData .dropdown span.value { display:none;}
.markInfo_EditMarkerData .dropdown>dd>ul>li>label { padding:1px 0px; display:block;}
.markInfo_EditMarkerData .dropdown>dd>ul>li>label.selected {color:#000; background-color:#ffde00;}
.markInfo_EditMarkerData .dropdown>dd>ul>li>label:hover {color:#000; background-color:#d0c9af;}        
.markInfo_EditMarkerData .dropdown label .mark_img { border:none; vertical-align:middle; margin-left:3px; margin-right: 3px; display: inline-block;}
.markInfo_EditMarkerData .dropdown label .mark_img img{ height: 20px;}
.markInfo_EditMarkerData .dropdown dt label .mark_img {min-width: 10px;
    margin-top: -5px;}
.markInfo_EditMarkerData .dropdown dd label .mark_img {width: 30px;}
.gm-style-iw{overflow: visible !important;}

.gm-style-iw{
    max-width: 410px;
    padding: 5px 0;
}
.gm-style-iw > div > div {
    overflow: hidden !important; /* MOZ FICTIVE SCROLL ON EDIT MARK */
}

.markInfo_Header{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font: 700 23px robotoC, sans-serif;
}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal::-webkit-input-placeholder ,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal::-webkit-input-placeholder {color: #a0a0a0;opacity: 1;}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal:focus::-webkit-input-placeholder ,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal:focus::-webkit-input-placeholder {color: #a0a0a0;opacity: 0;}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal::-moz-placeholder,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal::-moz-placeholder {color: #a0a0a0;opacity: 1;}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal:focus::-moz-placeholder,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal:focus::-moz-placeholder {color: #a0a0a0;opacity: 0;}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal:-moz-placeholder,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal:-moz-placeholder {color: #a0a0a0;opacity: 1;}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal:focus:-moz-placeholder,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal:focus:-moz-placeholder {color: #a0a0a0;opacity: 0;}

.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal,
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal{
    display: inline-block;
    width: 100%;
    border: 2px solid #6a6a6a;
    padding: 5px 10px;
    margin-bottom: 10px;
    font: 400 18px robotoC, sans-serif;
    box-sizing: border-box;
    color: #222;
}
.gm-style-iw .markInfo_EditMarkerData .markNewTitleVal{

}
.gm-style-iw .markInfo_EditMarkerData .markNewDescrVal{
    height: 100px;
    resize: none;
}
.markNewTypeSelectBlock{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.markInfo_EditMarkerData .dropdown>dt label{
    position: relative;
    height:38px;
}
.markInfo_EditMarkerData .dropdown>dt label::after{
    position: absolute;
    content: '';
    display: block;
    height:100%;
    left:100%;
    top:0;
    width:10px;
    background: url("/wthemes/velo/dekor/velo_maps_temp_dropdown_arrow.png") left top no-repeat;
}
.markInfo_EditMarkerData .dropdown>dt label span {
    font: 400 20px robotoC, sans-serif;
}
.markInfo_EditMarkerData .dropdown>dt label > span {
    padding: 5px 3px;
}
.markInfo_EditMarkerData .dropdown label .mark_img img{
    height: auto;
}
.markInfo_EditMarkerData .dropdown>dd>ul{
    z-index: 5;
}

.markInfo_EditMarkerData .dropdown>dd>ul>li>label {
    padding: 6px 0 2px 40px;
    min-height: 36px;
    display: block;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
.markInfo_EditMarkerData .dropdown dd label .mark_img {
    width: 30px;
    position: absolute;
    left: 0;
    top: 2px;
}
.markInfo_EditMarkerData .dropdown>dd>ul>li>label > span{
    font: 400 16px robotoC,sans-serif;
}


.markInfo_EditMarkerData::after{
    content:'';
    display: block;
    clear: both;
}
.markSaveChanges,
.markCancelChanges,
.mark-action-link{
    height: 38px;
    color: #fff;
    font: 400 18px/38px robotoC,sans-serif;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}
.markSaveChanges,
.mark-action-link.edit{
    background: #6fd71c;
}
.markCancelChanges,
.mark-action-link.remove{
    background: #efa71a;
    float:right;
}


.mark_title{
    display: inline-block;
    width: 100%;
    font: 400 24px/30px robotoC,sans-serif;
    color: #000;
    margin-bottom: 10px;
}
.mark_descr{
    display: inline-block;
    width: 100%;
    font: 400 18px/24px robotoC,sans-serif;
    color: #000;
    margin-bottom: 15px;
}
.mark_edit_link{
    display: inline-block;
    width: 100%;
}
.mark-action-link{

}
.mark-action-link.edit{

}
.mark-action-link.remove{
}

/*---END----------- EDIT MAP MARKER HERE ------------------------------------------------------ */

.hidden{
    display: none;
}
